.container {
  padding-top: 10px;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}
.jumbotron {
  color: gray;
}
body {
  color: #132743;
  background: aqua;
}
h1 {
  color: #ecf0f1;
}
.jumbotron {
  background: #132743;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
